<div class="about" id="about">
	<div class="container">

		<h3> Welcome to our <span> Website</span> </h3>
    <p>Here at EscapeVroom we live to create exciting and immersive mobile escape adventures which are both emotionally stimulating and mentally challenging. As escape room regulars, we know what makes a solid, captivating escape game experience, so we decided to lovingly craft our own, but with one key difference – our escape rooms are on wheels!</p>
		<h5>I'm writing to ask you to support us and our project. Just a donation of small amount can help us to accomplish our goals.
		</h5>

    <div>
      <a href="https://www.buymeacoffee.com/simsPim" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Support Us&emoji=🖐️&slug=simsPim&button_colour=5F7FFF&font_colour=ffffff&font_family=Arial&outline_colour=000000&coffee_colour=FFDD00" /></a>


      </div>



	</div> <!-- Container ends -->
</div> <!-- About Ends -->
