<div class="banner" id="home">
  <div class="container">
    <div class="banner-Content">
      <h1>Escape Room</h1>
      <p>An escape room, also called an escape game,<p> puzzle room or exit game,<p> is a game in which a team of players discovers clues,<p> solve puzzles and complete tasks in one or more rooms<p>
        in order to accomplish a specific objective in a limited time.</p>
    </div>
  </div>
</div> <!-- Banner Ends Here -->



<div  id="Novelles" class="upcoming" id="upcoming">
  <div class="container">
    <div class="padding-upcoming">

      <h3 style="color: white;" >Latest  <span>  News</span> </h3>

      <div class="background shadow1">

        <div id="parentVerticalTab">

          <div class="col-md-7 trailer game-video">
            <div class="resp-tabs-container hor_1">

              <div>
                <div class="category">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/6dSKUoV0SNI" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>


              <div class="clearfix"></div>
            </div>
          </div>





          <div id="SCENARIOS" class="col-md-5 trailer-text game-image">
            <ul class="resp-tabs-list hor_1">
              <li>
                <div class="sub-trailer">
                  <div class="sub-img">
                    <img src="assets/b_map1.png" alt="img07"/>
                  </div>
                  <div class="sub-text">
                    <h4>new mission</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </li>

              <li>
                <div class="sub-trailer">
                  <div class="sub-img">
                    <img src="assets/images/p3.png" alt="img07" height="120" width="120"/>
                  </div>
                  <div class="sub-text">
                    <h4> team game for all</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </li>

              <li>
                <div class="sub-trailer">
                  <div class="sub-img">
                    <img src="assets/images/p2.png" alt="img07" height="120" width="120"/>
                  </div>
                  <div class="sub-text">
                    <h4>Escape The Room</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </li>
              <div class="clearfix"></div>
            </ul>
          </div>


                <div class="clearfix"></div>




              </div>

      </div>
    </div>
  </div>
</div>




<div class="requirement" id="requirements"> <!-- Requirements Starts   -->
  <div class="container">
    <div class="all-require">

        <div class="heading">
          <h3>SCENARIOS<span style="color: red;">
            FEW MINUTES AND THE CLOCK ARE RUNNING</span> </h3>
        </div>

        <div class="specification">

          <div class="col-md-8 require-size" style="margin-left: 200px;">
            <div class="grid">
              <i class="pc"> </i>
              <h5>SCENARIO : </h5>
              <p style="color: red;">	DESCRIPTION : <br><span style="font-size: 16px; color:white;">During the Halloween Time the user get a mysterious invitation to attend a party and celebrate .
                the user notes a funny bunny image on the invitation, he tought it was a funny joke so he accepted the invitation.

                During the party day, and when he get into the house the user lost consciousness because of a toxic gaz,During his temporary coma he
                was injected with a deadly poison and blocked in the house. With a decrementation of the health until the death.

                The user should find some objects, indicators and collect them. so he can solve the puzzle, kill the bunny and survive. </span>	</p>

            </div>
          </div>

          <!-- <div class="col-md-4 require-size">
            <div class="grid">
              <i class="xbox"> </i>
              <h5> Sabotage 2.0: </h5>
              <p style="color: red;">	DESCRIPTION : <span>The countdown is over. Missiles launched. The world is sinking
                in ruins and chaos. Is there still a chance to save
                humanity?
                If only we could go back in time</span>	</p>



            </div>
          </div> -->

          <!-- <div class="col-md-4 require-size">

            <div class="grid">
              <i class="ps"> </i>
              <h5>Virus</h5>
              <p style="color: red;">	DESCRIPTION : <span>you must carry out an interview with the famous and mysterious Professor Levi Russ for your end-of-study project. Arrived at his home you realize that the door is ajar and that a light escapes from inside. After a brief hesitation you decide to enter. Suddenly the door closes and you find yourself trapped inside. Go ! 60 minutes and not one more to try to escape</span>	</p>


            </div>
          </div> -->

          <div class="clearfix"> </div>
        </div>	<!-- Specification Ends here   -->
    </div>
    </div>
  </div> <!-- requirement Ends -->








<li><div class="our-team">
  <div class="container">
    <div class="team" id="ourteam">
      <h2><b>Membres de L'équipe</b></h2>
            <li>
      <div class="team-up">
        <div class="col-md-3 team-size">
          <div class="team-img">
             <img src="../../../assets/images/cs.jpg" alt="image">
            <h4>Ben Salem Chaima</h4>
          </div>
        </div>

        <div class="col-md-3 team-size">
          <div class="team-img">
            <img src="assets/images/t2.jpg" alt="image">
            <h4>Ben Othmane Walid</h4>
          </div>
        </div>

        <div class="col-md-3 team-size">
          <div class="team-img">
            <img src="assets/images/t3.jpg" alt="image">
            <h4>Nakbi Mohamed</h4>
          </div>
        </div>

        <div class="col-md-3 team-size">
          <div class="team-img">
            <img src="assets/images/t6.PNG" alt="image">
            <h4>Sougui Firas</h4>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
        </li>                    <!-- Team-up ends here -->

        <div class="team-bottom">
          <div class="col-md team-size">
            <div class="team-img">
              <img src="assets/images/bf.png" alt="image" style="width: 320px; height: 320px;">
              <h4>Fatnassi Borhen</h4>
            </div>
          </div>


          <div class="clearfix"></div>
        </div> <!-- Team-bottom ends here -->

      <div class="clearfix"></div>
    </div> <!-- Team Ends -->

    </div>
</div> <!-- Our-team Ends -->

</li>
