/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(85, 85, 96));}



.form-container {
  display: block;
  max-width: 700px;
  max-height: 600px;
  margin: auto;

  background: #ffffff;
  padding: 70px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}
