
<div class="requirement" id="requirements"> <!-- Requirements Starts   -->
	<div class="container">
		<div class="all-require">

				<div class="heading">
					<h3>Top 3 <span>   This month </span> </h3>
				</div>

				<div class="specification">

					<div class="col-md-4 require-size">
						<div class="grid">
							<i class="pc"> </i>
							<h5>Username :</h5>
														<p>	Player 1  </p>


						</div>
					</div>

					<div class="col-md-4 require-size">
						<div class="grid">
							<i class="xbox"> </i>
							<h5>Username :</h5>
													<p>	Player 2 </p>


						</div>
					</div>

					<div class="col-md-4 require-size">

						<div class="grid">
							<i class="ps"> </i>
							<h5>Username :</h5>

							<p>	Player 3  </p>

						</div>
					</div>

				  <div class="clearfix"> </div>
				</div>	<!-- Specification Ends here   -->
		</div>
	  </div>
	</div> <!-- requirement Ends -->
