<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Joiner Notre Platform </mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  formControlName="email"
      placeholder="Ex. drcmind@example.com" placeholder="addresse email" formControlName="email">
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>


              <mat-form-field>
                <input
                  matInput
                  placeholder="mot du passe"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                type="submit"
                color="primary"
                class="login-button">
                Se Connecter
              </button>

              <button
                mat-raised-button
                class="login-button">
                Login with Google
              </button>
            </form>
          </mat-card-content>
      </mat-tab>
      <mat-tab label="S'inscrire">
        <mat-card-content>
          <form [formGroup]="signUpForm" (ngSubmit)="userLogin()">
            <mat-form-field>
              <input
                matInput
                placeholder="Nom d'utulisateur"
                required
                name="username"
                formControlName="name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="name?.errors?.['required']">
                Le nom est requis
              </mat-error>

            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                formControlName="">
                <mat-error *ngIf="email?.errors?.['required']">
                  Adresse e-mail est nécessaire
                </mat-error>
                <mat-error *ngIf="email?.errors?.['email']">
                  S'il vous plaît, mettez une adresse email valide
                </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                formControlName="password"
                [type]="isHide ? 'password' : 'text'">

                <button
                mat-icon-button
                matSuffix
                (click)="isHide = !isHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="isHide"
              >
                <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
                <mat-error *ngIf="password?.errors?.['required']">
                  Mot de passe requis

                </mat-error>

            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                type="password"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                [type]="isHide ? 'password' : 'text'"/>

                <button
             mat-icon-button
      matSuffix
      (click)="isHide = !isHide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isHide"
    >
      <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error *ngIf="confirmPassword?.errors?.['required']">
      Confirmer le mot de passe est requis
    </mat-error>

    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      Les mots de passe doivent correspondre
    </mat-error>
    <div class="center margin-top">
      <button onclick="createNewUser();" mat-raised-button color="primary">S'inscrire!</button>
    </div>
  </mat-form-field>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
